
// COLORES
$magenta: #ee1b6a;
$green: #27ae60;
$black: #000000;
$white: #ffffff;
$yellow: #e1b12c;
$orange: #e67e22;
$red: #df1313;
$pink: #fd79a8;
$blue: #321fdb;
$gray:#949494;
$lightgray: #c2c2c2;
$ligthblue:#75b9fd;

.btn-search {
    background-color: $green !important; 
    border-color: $green !important; 
    color: $white !important;
    text-transform: uppercase;
    font-weight: bold;
    
    &:hover {
        color:$black !important;
        transition: 0.5s ease;
    }
}


.mt-1 {
    margin-top: 15px !important;
}

.mt-2 {
    margin-top: 25px !important;
}

.mt-4 {
    margin-top: 50px !important;
}

.mb-1 {
    margin-bottom: 15px !important;
}

.mb-2 {
    margin-bottom: 25px !important;
}
.mb-4 {
    margin-bottom: 50px !important;
}

.w100 {
    width: 100% !important;
}

.w50 {
    width: 50% !important;
}


//SOBRE ESCRIBIENDO

.ant-form-inline {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
}

.ant-card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    background: #fff;
    border-radius: 2px;
}

.photo {
    border-radius: 10px;
    border-radius: 10px;
    background-color: "black";
    width: "100%" !important;
    height: "100%"

  }



.btn-magenta {
    background-color: $magenta  !important; 
    border-color: $magenta  !important;
    color: $white !important;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        color:$black !important;
        transition: 0.5s ease;
    }
}
  

.btn-secondary {
    background-color: $white  !important; 
    border-color: $magenta  !important;
    color: $magenta !important;
    text-transform: uppercase;
    font-weight: bold;

    
    &:hover {
        background-color: $magenta  !important; 
        border-color: $magenta  !important;
        color: $white !important;
        transition: 0.5s ease;
    }
}
.colorVolver{
    background-color: #c23616 !important;
}
  


::-webkit-scrollbar {
    width: 20px;
  }

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;

    &:hover{
        background-color: $green;
    }
}

a{
    color: $green !important;
    &:hover{
        color: $magenta !important;
    }
}